<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4 d-flex justify-content-center mt-5">
        <a href="https://www.instagram.com/peter.baumeister/"><i class="fa-brands fa-instagram icons" style="color: rgba(232,68,20,1)"></i></a>
      </div>
      <div class="col-4 d-flex justify-content-center mt-5">
        <a href="https://www.youtube.com/@peterbaumeister"><i class="fa-brands fa-youtube icons" style="color: rgba(232,68,20,1)"></i></a>
      </div>
      <div class="col-4 d-flex justify-content-center mt-5">
        <p>Impressum <br> Datenschutz</p>
      </div>
    </div>
  </div>

</div>
