<nav class="navbar navbar-expand-md">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand d-md-none" do %>
      <%= image_tag "Logo.png"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Projekte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Partner</a>
        </li>
        <%= link_to root_path, class: "navbar-brand d-none d-md-block" do %>
          <%= image_tag "Logo.png"%>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="#">Termine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
