<div class="home clipPath--mtn2--TB">
  <%= video_tag( 'Cover.MP4', id: 'video', autoplay: true, loop: true, muted: true )%>

  <div class="home-content">
    <h1>Bereit für Abendteuer?</h1>
  </div>
</div>
