<div class="home">
  <%= video_tag( 'Cover.MP4', id: 'video', class: 'clipPath--mtn2--TB', autoplay: true, loop: true, muted: true )%>

  <div class="home-content">
    <h1>Bereit für Abendteuer?</h1>
  </div>
</div>

