<div class="home mountain-seperator">
  <%= video_tag( 'Cover_s.MP4', id: 'video', autoplay: true, loop: true, muted: true )%>

  <div class="home-content">
    <h1><span class="pre">Bereit für</span><br>Abendteuer?</h1>
  </div>
</div>

<%# Highlights Section%>

<section class="mt-5">
  <h1>Highlights</h1>

  <%# Video mit Link zu Post %>
  <p>Biking, Skitouren, Rafting und vieles mehr ...</p>
  <div class="d-flex justify-content-center">
    <div class="button">
      <a href="#">Entdecke meine Projekte</a>
    </div>
  </div>
</section>

<%# Über mich Section %>

<section id="about" class="mt-5">
  <div class="d-flex align-items-center">
    <div class="m-5">
      <p><span class="quote">"Ich erzähle echte Geschichten<br> - reale Outdoor Abenteuer"</span></p>
    </div>
    <%= image_tag("Pete.png", width: "250") %>
  </div>
</section>

<%# Stats Section %>

<section id="stats" data-controller="counter">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <p><span data-counter-target="value" akhi="170">0</span></p>
        <p>bereiste Länder</p>
      </div>
      <div class="col-4">
        <p><span class="number" akhi="170">0</span>m</p>
        <p>höchster bestiegener Punkt</p>
      </div>
      <div class="col-4">
        <p><span class="number" akhi="10">0</span></p>
        <p>Mal die Alpen überquert</p>
      </div>
    </div>
  </div>
</section>

<%# Veröffentlichung Section %>

<section id="article">
  <h1>Meine Veröffentlichungen</h1>
  <div class="d-flex align-items-center">

  </div>
</section>
