<div class="home">
  <%= video_tag( 'Cover.MP4', id: 'video', autoplay: true, loop: true, muted: true )%>
</div>
<div class="overlay"></div>
<div class="home-content">
  <h1>High-End Kitchen.</h1>
</div>
