<div class="home mountain-seperator">
  <%= image_tag( 'Pete.png', class: 'cover') %>

  <div class="home-content">
    <h1><br>Partner</h1>
  </div>
</div>


<%# Sektion Partner %>

<section>
  <div class="container mt-5">
    <p>Ich bin extrem Stolz darüber mit den besten Marken der Outdoor Branche zusammen zu arbeiten,<br>
    wenn wir auf unsere Abenteuer aufbrechen. Alle meine Kooperationen gehe ich aus Überzeugung ein.</p>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <%= image_tag( 'Schoeffel.png', style: 'width:150px; height:auto') %>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <%= image_tag( 'Anfibio.png', style: 'width:150px; height:auto') %>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <%= image_tag( 'deuter.png', style: 'width:150px; height:auto') %>
      </div>
    </div>
  </div>
</section>

<%# Sektion warum partner werden %>

<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card partner_card p-3">
          <p>Würdest du gerne als Partner bei einem meiner Projekte einsteigen oder hast ein
          passendes Produkt, oder eine Dienstleistung, die zu meinen Abenteuerern passt? </p>
        </div>
      </div>
      <div class="col-4">
        <div class="card partner_card p-3">
          <p>Suchst du nach einer attraktiven Form eine aufregende Geschichte über deine
          Produkte im realen Einsatz zu erzählen?  </p>
        </div>
      </div>
      <div class="col-4">
        <div class="card partner_card p-3">
          <p>Hast du eine aufregendes Projekt und suchst einen Filmmacher, der es
          authentisch und professionell einfangen kann? </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
    <div class="button">
      <a href="#">Werde mein Partner</a>
    </div>
  </div>
  </div>
</section>
