h1 {
  color: rgba(232,68,20,1) !important;
  text-align: center;
}

p {
  text-align: center;
  color: #3C3836;
}

.quote {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: white;
  font-weight: lighter;
  @media (max-width: 800px) {
    font-size: 18px;
    }
}

.number {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  @media (max-width: 800px) {
    font-size: 30px;
    }
}

.stats {
  color: white;
}
